@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <div class="menu">
        <a href="@Url.Action("Index", "Role", new { id = "1" })">Ролі</a>
        @Html.ActionLink("Користувачі", "Index", "User")
        @Html.ActionLink("Реєстрація", "Register", "User")
        @Html.ActionLink("Перегляд графіку чергувань", "DutyTable", "User")
        @Html.ActionLink("Редагування графіку чергувань", "DutyAdminTable", "User")
    </div>
</p>